form {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.formItem {
    align-self: center;
}
.modeButton {
    /*padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;*/
    width: 100px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    color:antiquewhite;
    background-color: black;
    border-color: black;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    text-decoration: solid;
    font-size: 20px;
}
.modeButton:hover {
    color: darkgreen !important;
    font-size: 22px !important;
}
.submitButton {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    color:antiquewhite;
    background-color: black;
    border-color: black;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    text-decoration: solid;
    font-size: 20px;
}
.submitButton:hover {
    color: darkgreen !important;
    font-size: 22px !important;
}