body {
    margin: 0px;
}

ul {
    margin-top: 0px;
}

.Matrix {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

.Matrix:hover {
    color: black;
    background-color: darkgreen;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h3 {
    text-align: center;
    font-size: large;
    margin-top: 20px;
}

.mainhead {
    margin-top: 40px;
    font-family: 'Space Mono', monospace;
}

.mainheadholder {
    padding-left: 25%;
    padding-right: 25%;
}

.blockingDiv {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    transition: 500ms;
    z-index: 9988;
}

.opentype {
    z-index: 9999;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.copyp {
    color: antiquewhite;
    position: relative;
    text-align: center;
    width: 100%;
}

p {
    position: relative;
    text-align: center;
    width: 100%;
}

.projectHead {
    font-family: 'Space Mono', monospace;

}


h2 {
    text-align: center;
}

.constructionEyes {
    display: flex;
    justify-content: center;
    width: 100%;
}

.construction {
    margin-top: 70px;
}

.codeEyes {
    margin-left: 10px;
    margin-right: 10px;
}
