.navbar {
    background-color: black;
    height: 70px;
    min-height: 70px;
    margin: 0px;
    display: flex;
    align-items: center;
    z-index: 9999;
    position: relative;

}

.navSections {
    display: flex;
    align-items: center;
    z-index: 9999;
}

.navLink {
    color:antiquewhite;
    text-decoration: none;
    font-size: 25px;
    z-index: 9999999999999999999;
}

.navLink:hover {
    color: black;
    background-color: darkgreen;
}

.centerNav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex: 1;
    z-index: 9999;
}

.leftNav {
    text-align: center;
    display: flex;
    flex: 1;
    z-index: 999999;
}

.rightNav {
    text-align: center;
    display: flex;
    justify-content: right;
    flex: 1;
    z-index: 999999;

}

.logo {
    position: relative;
    font-family: 'Space Mono', monospace;
    color: antiquewhite;
    font-size: 27px;
    line-height: 50px; 
    height: 50px;
    z-index: 9999999;
    margin-top:auto;
    margin-bottom:auto;
    vertical-align: middle;
}

.logoIMG {
    position: relative;
    z-index: 999999;
    display: block;
    height: 50px;
    float: left;
    padding-right: 10px;
    margin-top:auto;
    margin-bottom:auto;
}

.footer {
    background-color: black;
    height: 70px;
    margin: 0px;
    display: flex;
    align-items: center;
    z-index: 9999;
    position: relative;
}

.main {
    flex: 50;
    z-index: 9998;
    padding: 10px;
}

.hamburgerButton {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    display: none;
}

.hamburgerButton:hover {
    background-color: darkgreen; 
}

.hamburgerMenu {
    position: absolute;
    width: 100vw;
    top: 0;
    transform: translateY(-100%);
    color: white;
    background-color: black;
    z-index: 9999;
    transition: 0.4s;
}

.hamburgerMenu.active {
    transform: translateY(0%);
}

.hamburgerMenu ul {
    list-style-type: none;
    padding-left: 70px;
}

@media (max-width: 1024px) {
    .logoText {
        display: none;
        width: 0;
    }
}

@media (max-width: 577px) {
    .centerNav {
        display: none;
        width: 0;
    }

    .hamburgerButton {
        display: block;
    }
}

@media (min-width: 578px) {
    .hamburgerMenu.active {
        transform: translateY(-100%);
    }
}
