.project {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    padding: 0px;
    border-top:black;
    border-color: black;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

.project a {
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Space Mono', monospace;

}
.project img {
    width:90%;
}

.projectHalf {
    width:50%;
    padding:10px
}

.projectDesc {
    text-align: left;
    font-family: 'Space Mono', monospace;
    width: 80%;
}

@media (max-width: 1048px) {
    .project {
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
    }

    .projectHalf {
        width: 100%;
    }

    .projectHalf.image {
      order: -1; /* Move the image cell to the top */
    }
  }